h3 {
    text-align: center;
}

h4 {
    text-align: center;
}
.resp {
  width: 100%;
  height: 100%;
  position: relative;  
}

.height90 {
  width: 100%;
  height: 92%;
  position: relative;  
}

.left50 {
  width: 50%;
  height: 100%;
  position: relative; 
  float: left;  
}

.left75 {
  width: 70%;
  height: 100%;
  position: relative; 
  float: left;  
}

.left25 {
  width: 30%;
  height: 100%;
  position: relative; 
  float: left;  
}

.leftup {
  width: 100%;
  height: 50%;
  position: relative; 
  float: left;  
  
}

.DashCharts {
  width: 100%;
  height: 100%;
  display: -webkit-box;
}

.recharts-responsive-container {
  -webkit-box-flex: 1;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

#center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
